@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* font */

body {
  font-family: Space Mono;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
/* top logo */
.toplogo {
  margin: 35px;
}

/* Color to the divs */
body {
  background-color: hsl(185, 41%, 84%);
}
.mothercontainer {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  border-radius: 12px;
}
/* right div */
.right {
  background-color: hsl(183, 100%, 15%);
}

/* delete this after done */
.left {
  background-color: rgb(255, 255, 255);
}
/* styling the mother-container */
.mothercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left side styling */
.left {
  height: 305px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: 20px;
}
.topinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  background-color: hsl(189, 41%, 97%);
  border-radius: 5px;
}
.textaboveinput {
  font-size: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

/* numbers formatting */
.number {
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  margin-right: 5px;
}

/* left hand grid */
#selecttip,
#bill,
#numberpeople {
  margin-top: 25px;
  font-size: 13px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  margin: 5px;
}
/* boxes */
#box1 {
  background-color: hsl(183, 100%, 15%);
  color: white;
}
#box2 {
  background-color: hsl(183, 100%, 15%);
  color: white;
}
#box3 {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
#box4 {
  background-color: hsl(183, 100%, 15%);
  color: white;
}
#box5 {
  background-color: hsl(183, 100%, 15%);
  color: white;
}
#box6 {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
}

/* padding/margin for grids */
.box {
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

/* number inside grid */
.gridnumber {
  margin-left: 5px;
}

/* below the grid */
#numberpeople {
  margin-top: 10px;
}

/* righ side */
.ones {
  display: flex;
  flex-direction: column;
}
.right {
  height: 305px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: space-between;
}
.topone,
.bottomone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

/* padding and margin */
.topone {
  margin-top: 29px;
}
.bottomone {
  margin: 25px;
}

.numberright {
  font-weight: 700;
  font-size: 30px;
  color: hsl(172, 67%, 45%);
  margin-left: 20px;
}
/* formating the icons on right side */
.rightimg {
  color: hsl(172, 67%, 45%);
}
.numberright img {
  width: 14px;
  margin-right: 3px;
}
.topone .textaboveinput {
  color: white;
  font-size: 9px;
  margin-right: 30px;
}
/* the dim (/person) */
.topdim {
  color: hsl(0, 0%, 67%);
}
/* bold the text abice- tip person & total */
.topbold {
  font-weight: 700;
}

.bottomone .textaboveinput {
  color: white;
  font-size: 9px;
  margin-right: 30px;
}
/* button */
button {
  background-color: hsl(172, 67%, 45%);
  border-style: none;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  margin: 26px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
}
