.nav {
  margin-right: 19px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  display: flex;
  padding: 22px;
  width: auto;
  background-color: rgb(231, 231, 231);
  color: rgb(134, 134, 134);
}
.maindiv {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.maindid1 {
  margin-top: 50px;
}
