@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  background-color: rgb(233, 233, 233);
}
/* Making the background white */
.mothercontainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: inherit;
}

.container {
  background-color: hsl(221, 100%, 96%);
  margin: 50px;
  padding: 70px;
  display: flex;
  justify-content: center;
}

/* left-side styling*/
.left {
  display: flex;
  width: 250 px;
  height: 320px;
  background-image: linear-gradient(
    180deg,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: white;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
}
/* right-side styling */
.right {
  flex-direction: column;

  display: flex;
  width: 250px;
  justify-content: center;
}

.right,
.left {
  padding: 20px;
}

/* Left side components */

/* your result */
.toptext {
  margin-bottom: 15px;
  font-weight: 700;
}
/* circle */
.circle {
  background-image: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Number inside circle */
.bignumber {
  font-size: 50px;
  font-weight: 800;
}

/* of 100 */
.smallnumber {
  font-weight: 700;
}

/* Text at the center "Great" */
.centertext {
  margin-bottom: 0;
  font-weight: 700;
}

/* paragraph at the botom */
.bottomtext {
  margin-top: 10;
  font-size: 15px;
  font-weight: 700;
  width: 200px;
  text-align: center;
}

/* ********************** */
/* Right Side Styling */
.summery {
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 700;
}

/* Styling righside containers for reaction/memory/verbal/visual */
.one,
.two,
.three,
.four {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 9px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}

/* colors for the reaction, memory, verbal, visual */
/* Reaction */
.one {
  background-color: hsl(0, 100%, 95%);
}

/* Memory */
.two {
  background-color: hsl(39, 100%, 95%);
}

/* Verbal */
.three {
  background-color: hsl(166, 100%, 95%);
}

/* Visual */
.four {
  background-color: hsl(234, 85%, 95%);
}

/* Styling indivisual icon+name */
.one .icon {
  color: hsl(0, 100%, 67%);
}
.two .icon {
  color: hsl(39, 100%, 56%);
}
.three .icon {
  color: hsl(166, 100%, 37%);
}
.four .icon {
  color: hsl(234, 85%, 45%);
}

.icon {
  gap: 3px;
  display: flex;
}

/* Styling the Button */
button {
  background-color: hsl(224, 30%, 27%);
  color: white;
  border-radius: 122px;
  padding: 16px;
  margin-top: 20px;
  border: none;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    180deg,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

.text .numbers {
  font-size: 18px;
}
/* styling the numbers */
.numbers {
  color: gray;
  font-weight: 700;
  font-size: 18px;
}
span {
  color: black;
}
