.mothercontainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 12px;
}
.container {
  background-color: rgb(214, 156, 156);
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  background-color: rgb(103, 67, 255);
  color: white;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
}

.right {
  flex-direction: column;
  background-color: white;
  display: flex;
}

.right,
.left {
  margin: 0px;
  padding: 20px;
}

.circle {
  background-color: rgb(74, 36, 206);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.bignumber {
  font-size: 50px;
}

.bottomtext {
  width: 200px;
  text-align: center;
}

/* Right Side Styling */
.right {
  width: 200px;
  justify-content: center;
}
.one {
}

.summery {
  margin: 0px;
  font-size: 23px;
}
.one,
.two,
.three,
.four {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}

/* colors for the reaction, memory, verbal, visual */
.one {
  background-color: rgba(198, 106, 15, 0.089);
}
.two {
  background-color: rgba(55, 198, 15, 0.065);
}
.three {
  background-color: rgba(24, 15, 198, 0.087);
}
.four {
  background-color: rgba(198, 15, 100, 0.109);
}

.one .icon {
  color: rgb(198, 106, 15);
}
.two .icon {
  color: rgb(55, 198, 15);
}
.three .icon {
  color: rgb(24, 15, 198);
}
.four .icon {
  color: rgb(198, 15, 100);
}

.icon {
  gap: 3px;
  display: flex;
}

button {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 19px;
  padding: 10px;
  margin-top: 20px;
}
.numbers {
  color: gray;
}
span {
  color: black;
}
