@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-color: hsl(217, 100%, 97%);
  height: 100vh;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: white;
  height: 80%;
  width: 50%;
  border-radius: 7px;
}
.left {
  display: flex;
  flex-direction: column;
  background: url(assets/images/bg-sidebar-desktop.svg) no-repeat center center;
  background-size: cover;
  border-radius: 12px;
  height: 100%;
  width: 300px;
  padding: 30px;
}

.text {
  display: flex;
  padding: 20px;
  gap: 15px;
}
.number-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  color: white;
}
.text:hover {
  cursor: pointer;
}

.activecircle {
  background-color: hsl(206, 94%, 87%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.faint {
  color: hsl(206, 94%, 87%);
}
.your-info {
  color: white;
  font-weight: 500;
}
/* right side */
.right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  padding-top: 10px;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.self-box {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 7px;
  padding: 10px;
  width: 100%;
}
.self-box:hover {
  cursor: pointer;
  border-color: hsl(213, 96%, 18%);
}
.top-big-text {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
  font-size: 25px;
  padding: 10px;
  padding-left: 0px;
}
.top {
  padding-top: 0px;
}

.additional-info {
  color: hsl(231, 11%, 63%);
}
.top-box {
  color: hsl(213, 96%, 18%);
}
.box {
  margin: 5px 0px 5px 0px;
}
.button-container {
  display: flex;
  justify-content: space-between;
}

.next {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px;
  border-style: none;
  border-radius: 9px;
  background-color: hsl(213, 96%, 18%);
  color: white;
  width: 110px;
}
.back {
  text-decoration: none;
  text-align: center;
  color: hsl(231, 11%, 63%);
  padding: 10px;
  border-style: none;
  border-radius: 9px;
  width: 110px;
}
