@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-color: hsl(206, 94%, 87%);
  height: 100vh;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  padding: 12px;
  background-color: white;
  height: 530px;
  width: 70%;
}
.left {
  display: flex;
  flex-direction: column;
  background: url(assets/images/bg-sidebar-desktop.svg) no-repeat center center;
  background-size: cover;
  border-radius: 12px;
  height: 100%;
}

.text {
  display: flex;
  padding: 20px;
  gap: 15px;
}
.number-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: hsl(206, 94%, 87%);
}
.faint {
  color: hsl(206, 94%, 87%);
}
.your-info {
  color: white;
  font-weight: 500;
}
/* right side */
.right {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 40px;
  padding-top: 10px;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.self-box {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 7px;
  padding: 7px;
}
.self-box:hover {
  cursor: pointer;
  border-color: hsl(213, 96%, 18%);
}
.top-big-text {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
  font-size: 25px;
  padding: 10px;
  padding-left: 0px;
}

.additional-info {
  color: hsl(231, 11%, 63%);
}
.top-box {
  padding: 10px 50px 10px 0px;
  color: hsl(213, 96%, 18%);
}
